// bower:scss
// endbower

* {
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#admin {
  position: absolute;
  top: 0;
  left: 0;
  height: 10%;
  width: 100%;
  font-size: 36px;
  background: rgba(0, 0, 0, 0.5);
  padding: 0 1%;
  display: none;
  .emoji {
    width: 36px;
    height: 36px;
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-body {
  width: 100%;
  height: 100%;
}

#header {
  padding: 1.5%;
  width: 100%;
  height: 30%;
  background: rgba(0, 0, 0, 0.5);
}

#marquee {
  width: 80%;
  height: 100%;
  font-size: 32px;
  overflow: hidden;
  white-space: nowrap;
  p {
    animation: marquee 8s linear infinite;
  }
  //p:hover {
  //  animation-play-state: paused;
  //}
}

#logo {
  width: 20%;
  height: 100%;
  img {
    width: 256px;
    height: 256px;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(100%)
  }
  100% {
    transform: translateX(-100%)
  }
}

#container {
  width: 100%;
  height: 70%;
  list-style: none;
}

.row,
.animate-transition {
  transition: all .3s ease;
  margin: 1%;
  height: 30%;
  background: rgba(0, 0, 0, 0.5);
}

.animate-enter,
.animate-leave {
  height: 0;
  opacity: 0;
}

.msg-left {
  float: left;
  width: 20%;
  height: 100%;
  flex-direction: column;
  padding: 1%;
}

.msg-nickname {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  height: 20%;
  .emoji {
    width: 16px;
    height: 16px;
  }
}

.msg-avatar {
  width: 100%;
  height: 80%;
  img {
    width: 128px;
    height: 128px;
    border-radius: 100%;
  }
}

.msg-right {
  float: right;
  width: 80%;
  height: 100%;
}

.msg-msg {
  font-size: 24px;
  .emoji {
    width: 24px;
    height: 24px;
  }
}

@media screen and (max-width: 767px) {
  #logo img {
    width: 128px;
    height: 128px;
  }

  .msg-avatar img {
    width: 96px;
    height: 96px;
    border-radius: 100%;
  }
}

@media screen and (max-height: 767px) {
  #logo img {
    width: 128px;
    height: 128px;
  }

  .msg-avatar img {
    width: 96px;
    height: 96px;
    border-radius: 100%;
  }
}
